In [65]:
import pandas as pd
df= pd.read_csv('Iris.csv')
df

     SepalLenCM  SepalWidthCM  PetalLenCM  PetalWidthCM         Species
0           5.1           3.5         1.4           0.2     Iris-setosa
1           4.9           3.0         1.4           0.2     Iris-setosa
2           4.7           3.2         1.3           0.2     Iris-setosa
3           4.6           3.1         1.5           0.2     Iris-setosa
4           5.0           3.6         1.4           0.2     Iris-setosa
..          ...           ...         ...           ...             ...
145         6.7           3.0         5.2           2.3  Iris-virginica
146         6.3           2.5         5.0           1.9  Iris-virginica
147         6.5           3.0         5.2           2.0  Iris-virginica
148         6.2           3.4         5.4           2.3  Iris-virginica
149         5.9           3.0         5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [66]:
df.head()

   SepalLenCM  SepalWidthCM  PetalLenCM  PetalWidthCM      Species
0         5.1           3.5         1.4           0.2  Iris-setosa
1         4.9           3.0         1.4           0.2  Iris-setosa
2         4.7           3.2         1.3           0.2  Iris-setosa
3         4.6           3.1         1.5           0.2  Iris-setosa
4         5.0           3.6         1.4           0.2  Iris-setosa

In [67]:
df.head(10)

   SepalLenCM  SepalWidthCM  PetalLenCM  PetalWidthCM      Species
0         5.1           3.5         1.4           0.2  Iris-setosa
1         4.9           3.0         1.4           0.2  Iris-setosa
2         4.7           3.2         1.3           0.2  Iris-setosa
3         4.6           3.1         1.5           0.2  Iris-setosa
4         5.0           3.6         1.4           0.2  Iris-setosa
5         5.4           3.9         1.7           0.4  Iris-setosa
6         4.6           3.4         1.4           0.3  Iris-setosa
7         5.0           3.4         1.5           0.2  Iris-setosa
8         4.4           2.9         1.4           0.2  Iris-setosa
9         4.9           3.1         1.5           0.1  Iris-setosa

In [68]:
df.tail()

     SepalLenCM  SepalWidthCM  PetalLenCM  PetalWidthCM         Species
145         6.7           3.0         5.2           2.3  Iris-virginica
146         6.3           2.5         5.0           1.9  Iris-virginica
147         6.5           3.0         5.2           2.0  Iris-virginica
148         6.2           3.4         5.4           2.3  Iris-virginica
149         5.9           3.0         5.1           1.8  Iris-virginica

In [69]:
df.tail(10)

     SepalLenCM  SepalWidthCM  PetalLenCM  PetalWidthCM         Species
140         6.7           3.1         5.6           2.4  Iris-virginica
141         6.9           3.1         5.1           2.3  Iris-virginica
142         5.8           2.7         5.1           1.9  Iris-virginica
143         6.8           3.2         5.9           2.3  Iris-virginica
144         6.7           3.3         5.7           2.5  Iris-virginica
145         6.7           3.0         5.2           2.3  Iris-virginica
146         6.3           2.5         5.0           1.9  Iris-virginica
147         6.5           3.0         5.2           2.0  Iris-virginica
148         6.2           3.4         5.4           2.3  Iris-virginica
149         5.9           3.0         5.1           1.8  Iris-virginica

In [70]:
df.loc[140]

SepalLenCM                 6.7
SepalWidthCM               3.1
PetalLenCM                 5.6
PetalWidthCM               2.4
Species         Iris-virginica
Name: 140, dtype: object

# Null values

In [71]:
df.isnull()

     SepalLenCM  SepalWidthCM  PetalLenCM  PetalWidthCM  Species
0         False         False       False         False    False
1         False         False       False         False    False
2         False         False       False         False    False
3         False         False       False         False    False
4         False         False       False         False    False
..          ...           ...         ...           ...      ...
145       False         False       False         False    False
146       False         False       False         False    False
147       False         False       False         False    False
148       False         False       False         False    False
149       False         False       False         False    False

[150 rows x 5 columns]

In [72]:
df.isnull().sum()

SepalLenCM      0
SepalWidthCM    0
PetalLenCM      0
PetalWidthCM    0
Species         0
dtype: int64

# Statistics and dimensions

In [73]:
df.describe()

       SepalLenCM  SepalWidthCM  PetalLenCM  PetalWidthCM
count  150.000000    150.000000  150.000000    150.000000
mean     5.843333      3.054000    3.758667      1.198667
std      0.828066      0.433594    1.764420      0.763161
min      4.300000      2.000000    1.000000      0.100000
25%      5.100000      2.800000    1.600000      0.300000
50%      5.800000      3.000000    4.350000      1.300000
75%      6.400000      3.300000    5.100000      1.800000
max      7.900000      4.400000    6.900000      2.500000

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SepalLenCM    150 non-null    float64
 1   SepalWidthCM  150 non-null    float64
 2   PetalLenCM    150 non-null    float64
 3   PetalWidthCM  150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [75]:
rows, cols= df.shape
print('Number of rows: ',rows)
print('Number of columns: ',cols)

Number of rows:  150
Number of columns:  5

# Conversion of Dtypes

In [90]:
df.dtypes

SepalLenCM      float64
SepalWidthCM    float64
PetalLenCM      float64
PetalWidthCM    float64
Species           int64
dtype: object

In [77]:
df.columns

Index(['SepalLenCM', 'SepalWidthCM', 'PetalLenCM', 'PetalWidthCM', 'Species'], dtype='object')

In [84]:
df['SepalLenCM']= df['SepalLenCM'].astype(str)

In [80]:
df.dtypes

SepalLenCM      float64
SepalWidthCM    float64
PetalLenCM      float64
PetalWidthCM    float64
Species          object
dtype: object

In [85]:
df['SepalLenCM']= pd.to_numeric(df['SepalLenCM'], errors='coerce')

In [16]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [82]:
df1= df.convert_dtypes()
df1.dtypes

SepalLenCM      Float64
SepalWidthCM    Float64
PetalLenCM      Float64
PetalWidthCM    Float64
Species          string
dtype: object

# Label Encoder

In [86]:
from sklearn import preprocessing
convert= preprocessing.LabelEncoder()
df['Species']= convert.fit_transform(df['Species'])
df

     SepalLenCM  SepalWidthCM  PetalLenCM  PetalWidthCM  Species
0           5.1           3.5         1.4           0.2        0
1           4.9           3.0         1.4           0.2        0
2           4.7           3.2         1.3           0.2        0
3           4.6           3.1         1.5           0.2        0
4           5.0           3.6         1.4           0.2        0
..          ...           ...         ...           ...      ...
145         6.7           3.0         5.2           2.3        2
146         6.3           2.5         5.0           1.9        2
147         6.5           3.0         5.2           2.0        2
148         6.2           3.4         5.4           2.3        2
149         5.9           3.0         5.1           1.8        2

[150 rows x 5 columns]

# One hot encoding

In [26]:
df1['Species']= df1['Species'].astype('object')
df1.dtypes

Id                 Int64
SepalLengthCm    Float64
SepalWidthCm     Float64
PetalLengthCm    Float64
PetalWidthCm     Float64
Species           object
dtype: object

In [88]:
df2= pd.get_dummies(data= df1, columns=(['Species']))
df2

,SepalLenCM,SepalWidthCM,PetalLenCM,PetalWidthCM,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

In [89]:
df2.dtypes

SepalLenCM                 Float64
SepalWidthCM               Float64
PetalLenCM                 Float64
PetalWidthCM               Float64
Species_Iris-setosa          uint8
Species_Iris-versicolor      uint8
Species_Iris-virginica       uint8
dtype: object